{{ define "nav" }}
<nav>
    <ul>
        <li><a href="/" class="contrast"><strong>🎯 Club Toxophilus</strong></a></li>
    </ul>
    <ul>
        <li><a href="/members"
            {{ if eq .active "membres" }}class="outline"{{ else }}class="secondary"{{ end }}
            >Membres</a></li>
        <li><a href="/equipement"
            {{ if eq .active "equipement" }}class="outline"{{ else }}class="secondary"{{ end }}
            >Matériel</a></li>
        <li><a href="/contracts"
            {{ if eq .active "contracts" }}class="outline"{{ else }}class="secondary"{{ end }}
            >Contrats</a></li>
        <li><a href="#"
               role="button"
               class="outline"
               hx-post="/api/logout"
               hx-swap="none">
               Déconnexion</a></li>
    </ul>
</nav>
{{ end }}