<!DOCTYPE html>
<html lang="fr">

{{ template "head" . }}

<body>
    <main class="container">

        {{ template "nav" . }}

        <hr>

    <header>
            <hgroup>
                <h1>Tableau de bord</h1>
                <p>Bienvenue dans l'outil de gestion du club d'archerie.</p>
            </hgroup>
        </header>

        <div class="grid">
            <article>
                <h3>Membres</h3>
                <p>Gérez les inscriptions et les dossiers des archers.</p>
                <footer><a href="/members" role="button">Accéder à la liste</a></footer>
            </article>
            <article>
                <h3>Équipements</h3>
                <p>Inventaire des poignées et des branches.</p>
                <footer><a href="/equipement" role="button">Accéder à la liste</a></footer>
            </article>
        </div>

    </main>
</body>
</html>